* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--backg-white);
    font-family: "Roboto", sans-serif;
}
html{
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
main {
    margin: 50px auto;
}

main h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin: 50px auto;
    font-family: "Playpen Sans", cursive;
    font-weight: 800;
}
/* ------------ESTILOS DEL HEADER-------------*/
/* ------------ESTILOS DEL HEADER-------------*/

/* Fixed menu para mobile. */
.fixed-menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--primary-color);
    z-index: 10;
    display: none;
}
.fixed-menu div img {
    width: 60px;
    height: 60px;
}



/* -----------NAV logo---------- */
.header-logo-container {

}
.header-logo-container a {
    
}

.header-logo-container a img {

    
}
.header-logo-container a p {

}

/* -----------NAV botones---------- */

.nav-buttons {

}

.cart-button, .account-button{

}
.account-button {
    
}
.cart-button {
    
}
.account-button:hover, .cart-button:hover {
}

/* modificaci贸n nav - bootstrap */
.color-nav {
    background-color: var(--primary-color);
}
.width-input {
    width: 30vw;
}
.form-modify .width-input {
    font-size: 1.6rem;
}
.form-modify .width-input:focus {
    outline: none;
    box-shadow: none;

}
.color-nav-text {
    color: var(--backg-white);
    font-size: 1.8rem;

}
.modifier-list li{
    margin-right: 16px;
}
.modifier-list li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: whitesmoke;
    font-size: 1.8rem;
    transform: scaley(1.1);
}
.nav-link:active,
.nav-link:focus,
.nav-link.dropdown-toggle:active,
.nav-link.dropdown-toggle:focus {
    color: whitesmoke !important;
}
.modify-letra {
    
}


/* ------------ESTILOS DEL MAIN-------------*/
/* ------------ESTILOS DEL MAIN-------------*/

.main-container-index {
}

/* --------- Section 1 ---------*/
.section-1-main{

}
.section-1-top{

}
.section-1-top p {

}
.section-1-top p{

}
.section-1-top-img{

}
.section-1-top-img img{

}
.section-1-bottom{

}
.section-1-bottom a{

}
.section-1-bottom-left{

}
.section-1-bottom-left img{ 

}
.section-1-bottom-right{

}
.section-1-bottom-right img {

}




/* --------- Section 2 ---------*/
.section-2-main {
    display: grid;
    grid-template-rows: 15% 75% 15%;
    align-items: center;
    justify-content: center;
}
.section-2-main-ul-container {
    grid-row: 1 / 2;
}
.section-2-main-ul-container ul {
    margin: 0 auto;
    height: 55px;
    display: flex;
    justify-content: center;
}
.section-2-main-ul-container ul li{
    border-radius: 10px;
    padding: 15px 30px;
    background-color: var(--primary-color);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-main-ul-container ul li:hover {
    transform: scaley(1.1);
    background-color: var(--secondary-color);
}
.section-2-main-ul-container ul li a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

/* cards container - carrusel */
.section-2-main-cards-container {
    grid-row: 2 / 3;
    margin: 50px auto;
    width: 70%;
    height: auto;

}
.nuevo-container, .destacados-container, .promos-container{
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
}
/* Oculta todos los contenedores por defecto */
.nuevo-container,
.destacados-container,
.promos-container {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Muestra el contenedor que coincida con el ID clicado (target) */
.nuevo-container:target,
.destacados-container:target,
.promos-container:target {
    display: flex;
    opacity: 1;
}

.card-main {
    flex: 0 0 auto; 
    width: 200px;
    height: 300px;
    border-radius: 20px;
    padding: 2px;
    scroll-snap-align: center; 
}
.card-main img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 20px 20px 0 0;
}
.card-main-text {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-main-text  h3 {
    font-size: 2.2rem;
}
.card-main-text p {
    font-size: 2rem;
    font-weight: 600;
}
.card-main-text  p, h3 {
    color: white;
}
.card-main:nth-child(2n){
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
}
.card-main:nth-child(2n+1) {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}
.card-main:hover {
    cursor: pointer;
}
/* customizaci贸n de la barrita del carrusel */
.nuevo-container::-webkit-scrollbar,
.destacados-container::-webkit-scrollbar,
.promos-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.nuevo-container::-webkit-scrollbar-thumb,
.destacados-container::-webkit-scrollbar-thumb,
.promos-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}






/* -------------ESTILOS DEL FOOTER----------------*/
footer {
   
}

footer p, footer h3, footer a {
  
}
footer p,
footer a{

}

footer h3 {

}
.footer-container-isologo{

}
.footer-isologo{

}
.footer-isologo a {

}
.footer-isologo img{

}
.footer-container {

}
.footer-container-contacto,
.footer-container-redes{

}
footer .footer-container-redes ul{

}
footer .footer-container-redes ul li{

}
footer .footer-container-redes ul li img {

}



/* --------------------------------- ESTILOS DE PRODUCTOS -----------------------------------*/
/* --------------------------------- ESTILOS DE PRODUCTOS -----------------------------------*/

/* section - categor铆as  */

main .categories-container {
    height: 80px;
    margin-bottom: 50px;

}

main .categories-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .categories-container ul li{
    padding: 22px;
    border-right: 3px solid white;
    background-color: var(--primary-color);
}
main .categories-container ul li:hover{
    transform: scale(1.1);
    background-color: #5D2510;
}
main .categories-container ul li a{
    font-size: 2rem;
    color: var(--backg-white);
}

/* ------ estilos secci贸n - productos ---------*/

main .products-container{
    width: 90%;
    background-color: var(--backg-green);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-rows: 90% 10% ;
    box-shadow: 6px 6px 20px var(--secondary-color);
    margin-bottom: 100px;
}
main .products-list {
    grid-row: 1;
}
main .page-buttons{
    grid-row: 2;
}

main .products-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
main .product-main {
    width: 220px;
    height: 300px;
    margin: 10px 22px;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid var(--primary-color);
    background-color: #4e7748;

    display: flex;
    flex-direction: column;
}

main .products-container .product-main div img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

main .products-container .products-list .product-main {
    position: relative;
}



/* ver mas button - Main index*/
.ver-mas-button {
    align-self: center;
    grid-row: 3 / 4;
    margin: 0 auto;
}

/* estilos de botones "" */
main .product-main .heart-button {
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
}
.heart-check{
    font-size: 3rem;
    cursor: pointer
}
.heart-button input {
    display: none;
}
.heart-button input:checked + .heart-check {
    transform: scale(1.5);
}
main .products-container .products-list .product-main h3{
    font-size: 2.2rem;
    padding-top: 5px;
    color: var(--backg-white)
}
main .products-container .products-list .product-main p{
    font-size: 1.8rem;
    padding-top: 5px;
    color: var(--backg-white)
} 
main .products-container .products-list .product-main span{
    font-size: 2.4rem;
    padding-top: 5px;
    padding-right: 5px;
    color: var(--backg-white)
} 

/* estilos de botones de productos */
.page-buttons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.page-buttons ul li{
    margin: 1%;
}
.page-buttons ul li a {
    font-size: 2rem;
    color: rgb(69, 59, 59);
}

/* --------------------------------ESTILOS DE CONTACTO-------------------------------*/
/* --------------------------------ESTILOS DE CONTACTO-------------------------------*/

main .contacto-container {
    width: 50%;
    height: 200px;
    background-color: var(--backg-green);
    border: 3px solid var(--secondary-color);
    box-shadow: 5px 5px 10px var(--secondary-color);
    margin: 50px auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
/* direcci贸n */
.contacto-container--text, .contacto-container--tel{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-container--text h2, .contacto-container--tel h2{
    color: var(--secondary-color);
    font-size: 2.2rem;
}
.contacto-container--tel ul li a img {
    width: 20px;
    height: 20px;
}
.contacto-container--tel ul li{
    display: flex;
    justify-self: flex-start;
}

main .contacto-container  p,  .contacto-container--tel ul a {
    color: var(--secondary-color);
    font-size: 1.8rem;
}


/* ubicaci贸n */

main .ubicacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
main .ubicacion-container h2 {
    color: var(--secondary-color);
    font-size: 3.8rem;
    letter-spacing: 0.5rem;
    margin-bottom: 20px;
    font-family: "Playpen Sans", cursive;
    font-weight: 600;
}



/* -----------------------------ESTILOS DE SOBRE NOSOTROS --------------------------------*/
/* -----------------------------ESTILOS DE SOBRE NOSOTROS --------------------------------*/

main .sobre-nosotros {
    height: 100%;
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: #5D2510;
    border: 3px solid var(--secondary-color);
    box-shadow: 5px 5px 10px var(--secondary-color);
    background-color: var(--backg-green);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70% 30%;
}
main section div img{
    object-fit: cover;
}
.img-sobre-nosotros {
    display: flex;
}
.sobre-nosotros-top-right img,
.img-sobre-nosotros img{
    width: 100%;
}

main .sobre-nosotros-top-left {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}
main .sobre-nosotros-top-left span{
    font-weight: 500;
    font-size: 1.8rem;
}
main .sobre-nosotros-top-right {
    grid-row: 1 / 2;
    grid-column: 4 / 7;
}
main .img-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
main .img-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
main .img-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
main .img-4 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}
main .img-5 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}
main .img-6 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}


/* ------------------------------ ESTILOS DEL CARRITO ----------------------------------*/
/* ------------------------------ ESTILOS DEL CARRITO ----------------------------------*/


main .carrito {
    width: 90%;
    height: auto;
    margin: 50px auto;

}
main .carrito table{
    width: 100%;
    border-collapse: collapse;
    background-color: var(--backg-green);
}

main .carrito table tr th {
    text-align: left;
    padding: 5px;
    font-size: 2.6rem;
    color: var(--backg-green);
    background-color: var(--primary-color);
}

main .carrito table  .cart-info {
    display: flex;
    flex-wrap: wrap;

}
main .carrito table tr .cart-info img {
    width: 89px;
    height: 80px;
    margin-right: 10px;
    
}
main .carrito table tr .cart-info div h3{
    font-size: 2.2rem;
    color: rgb(30, 27, 27);
}
main .carrito table tr .cart-info div p{
    font-size: 2rem;
}
main .carrito table tr td .cart-info div p{
    font-weight: 600;
    font-size: 2.2rem;
}

main .carrito table tr td {
    padding: 10px;
    font-size: 2.2rem;
    font-weight: 600;
}

main .carrito table tr td:nth-child(3) {
    font-weight: 600;
    color: rgb(30, 27, 27);
}
main .carrito table tr td input {
    width: 40px;
    font-size: 1.5rem;
    height: 30px;
    padding: 5px;
}
main .carrito table tr td a {
    display: inline-block;
    color: #951c1c;
    font-size: 2rem;
    padding-top: 5px;
}

main .carrito .total-price {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 60%;
    justify-content: flex-end;
    border-top: 3px solid var(--primary-color);
}

td:last-child {
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* -------------------- ESTILOS DE LOS BOTONES -------------- --------- */
/* --------------------- ESTILOS DE LOS BOTONES ----------------------- */

.button-class {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    margin: 0 auto;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px outset var(--dark-letter);
}

.button-class:hover {
    transform: scale(1.1);
}
.button-class a {
    font-size: 2.5rem;
    color: whitesmoke;
    padding: 3px;
}
.pay-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pay-button {
    margin-top: 40px;
}

/* ------------shopping cart button // Whatsapp button-------------*/
.fixed-button {
    position: fixed;
    right: 20px;
    bottom: 100px;
}
.fixed-button a img {
    width: 100px;
}
.fixed-cart-button {
    background-color: #69cf69;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 3px 8px 10px var(--dark-letter); 
}

.fixed-wsp-button a img{
    background-color: none;
}


