* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--backg-white);
    font-family: "Roboto", sans-serif;
}
html{
    font-size: 62.5%;
}
:root {
    --primary-color: #4e7748;
    --secondary-color: #5D2510;
    --backg-white: #EDE1D2;
    --backg-green: #f5f5f5;
    --light-letter-color: #CBB89D;
    --dark-letter: #412f26;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
main {
    margin: 50px auto;
}

main h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin: 50px auto;
    font-family: "Playpen Sans", cursive;
    font-weight: 800;
}
/* ------------ESTILOS DEL HEADER-------------*/
/* ------------ESTILOS DEL HEADER-------------*/

/* Fixed menu para mobile. */
.fixed-menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--primary-color);
    z-index: 10;
    display: none;
}
.fixed-menu div img {
    width: 60px;
    height: 60px;
}



/* -----------NAV logo---------- */
.header-logo-container {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #4e7748;
}
.header-logo-container a {
    display: flex;
    align-items: center;
    font-family: "Playpen Sans", cursive;
    font-weight: 600;
    background: -webkit-linear-gradient(90deg,  #4e7748 10%, #c7965c 90%);
}

.header-logo-container a img {
    width: 150px;
    
}
.header-logo-container a p {
    font-size: 5rem;
    color: #fff2eb;
}

/* -----------NAV botones---------- */

.nav-buttons {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-color);
    align-items: center;
    padding-right: 20px;
}

.cart-button, .account-button{
    width: 60px;
    height: 60px;
    margin-left: 20px; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.account-button {
    background-image: url("../img/icono/account-manager_red.png");
}
.cart-button {
    background-image: url("../img/icono/shopping-cart-white_red.png");
}
.account-button:hover, .cart-button:hover {
    transform: scale(1.2);
}

/* modificación nav - bootstrap */
.color-nav {
    background-color: var(--primary-color);
}
.width-input {
    width: 30vw;
}
.form-modify .width-input {
    font-size: 1.6rem;
}
.form-modify .width-input:focus {
    outline: none;
    box-shadow: none;

}
.color-nav-text {
    color: var(--backg-white);
    font-size: 1.8rem;

}
.modifier-list li{
    margin-right: 16px;
}
.modifier-list li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: whitesmoke;
    font-size: 1.8rem;
    transform: scaley(1.1);
}
.nav-link:active,
.nav-link:focus,
.nav-link.dropdown-toggle:active,
.nav-link.dropdown-toggle:focus {
    color: whitesmoke !important;
}
.modify-letra {
    font-size: 1.6rem;
    color: var(--dark-letter);
}


/* ------------ESTILOS DEL MAIN-------------*/
/* ------------ESTILOS DEL MAIN-------------*/

.main-container-index {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 100%;
}

/* --------- Section 1 ---------*/
.section-1-main{
    width: 90%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 80% 20%;
    margin: 0 auto;
    border: 3px solid var(--secondary-color);
    background-color: white;
    object-fit: cover;
}
.section-1-top{
    grid-column: 1 / 2;
    color: var(--dark-letter);
    align-self: center;
}
.section-1-top p {
    color: var(--dark-letter);
}
.section-1-top p{
    font-size: 1.8rem;
    padding: 0 20px;
}
.section-1-top-img{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    overflow: hidden;
}
.section-1-top-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.section-1-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-letter);

}
.section-1-bottom a{
    color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-1-bottom-left{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--dark-letter);
}
.section-1-bottom-left img{ 
    width: 15%;
}
.section-1-bottom-right{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.section-1-bottom-right img {
    width: 40%;
}




/* --------- Section 2 ---------*/
.section-2-main {
    display: grid;
    grid-template-rows: 15% 75% 15%;
    align-items: center;
    justify-content: center;
}
.section-2-main-ul-container {
    grid-row: 1 / 2;
}
.section-2-main-ul-container ul {

    margin: 0 auto;
    height: 55px;
    display: flex;
    justify-content: center;
}
.section-2-main-ul-container ul li{
    border-radius: 10px;
    padding: 15px 30px;
    background-color: var(--primary-color);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-main-ul-container ul li:hover {
    transform: scaley(1.1);
    background-color: var(--secondary-color);
}
.section-2-main-ul-container ul li a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

/* cards container - carrusel */
.section-2-main-cards-container {
    display: flex;
    gap: 10px;
    margin: 50px auto;
    width: 80%;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
}
.card-main {
    flex: 0 0 auto; 
    width: 250px;
    height: 350px;
    border-radius: 20px;
    padding: 2px;
    scroll-snap-align: center; 
}
.card-main img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 20px 20px 0 0;
}
.card-main-text {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-main-text  h3 {
    font-size: 2.2rem;
}
.card-main-text p {
    font-size: 2rem;
    font-weight: 600;
}
.card-main-text  p, h3 {
    color: white;
}
.card-main:nth-child(2n){
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
}
.card-main:nth-child(2n+1) {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}
.card-main:hover {
    cursor: pointer;
}
/* customización de la barrita del carrusel */
.section-2-main-cards-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.section-2-main-cards-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}


/* ver mas button */
.ver-mas-button {
    align-self: center;
    grid-row: 3 / 4;
    margin: 0 auto;
}



/* -------------ESTILOS DEL FOOTER----------------*/
footer {
    background-color: var(--dark-letter);
}

footer p, footer h3, footer a {
    color: var(--light-letter-color);
}
footer p,
footer a{
    font-size: 1.6rem;
    color: var(--light-letter-color)
}

footer h3 {
    font-size: 2.2rem;
}
.footer-container-isologo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-isologo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.footer-isologo a {
    font-size: 2.5rem;
}
.footer-isologo img{
    width: 30%;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
}
.footer-container-contacto,
.footer-container-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer .footer-container-redes ul{
    display: flex;
}
footer .footer-container-redes ul li{
    margin-right: 5px;
}
footer .footer-container-redes ul li img {
    width: 50px;
    height: 50px;
}



/* --------------------------------- ESTILOS DE PRODUCTOS -----------------------------------*/
/* --------------------------------- ESTILOS DE PRODUCTOS -----------------------------------*/

/* section - categorías  */

main .categories-container {
    height: 80px;
    margin-bottom: 50px;

}

main .categories-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .categories-container ul li{
    padding: 22px;
    border-right: 3px solid white;
    background-color: var(--primary-color);
}
main .categories-container ul li:hover{
    transform: scale(1.1);
    background-color: #5D2510;
}
main .categories-container ul li a{
    font-size: 2rem;
    color: var(--backg-white);
}

/* ------ estilos sección - productos ---------*/

main .products-container{
    width: 90%;
    background-color: var(--backg-green);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-rows: 90% 10% ;
    box-shadow: 6px 6px 20px var(--secondary-color);
    margin-bottom: 100px;
}
main .products-list {
    grid-row: 1;
}
main .page-buttons{
    grid-row: 2;
}

main .products-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
main .product-main {
    width: 220px;
    height: 300px;
    margin: 10px 22px;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid var(--primary-color);
    background-color: #4e7748;

    display: flex;
    flex-direction: column;
}

main .products-container .product-main div img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

main .products-container .products-list .product-main {
    position: relative;
}


/* estilos de botones "💚" */
main .product-main .heart-button {
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
}
.heart-check{
    font-size: 3rem;
    cursor: pointer
}
.heart-button input {
    display: none;
}
.heart-button input:checked + .heart-check {
    transform: scale(1.5);
}
main .products-container .products-list .product-main h3{
    font-size: 2.2rem;
    padding-top: 5px;
    color: var(--backg-white)
}
main .products-container .products-list .product-main p{
    font-size: 1.8rem;
    padding-top: 5px;
    color: var(--backg-white)
} 
main .products-container .products-list .product-main span{
    font-size: 2.4rem;
    padding-top: 5px;
    padding-right: 5px;
    color: var(--backg-white)
} 

/* estilos de botones de productos */
.page-buttons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.page-buttons ul li{
    margin: 1%;
}
.page-buttons ul li a {
    font-size: 2rem;
    color: rgb(69, 59, 59);
}

/* --------------------------------ESTILOS DE CONTACTO-------------------------------*/
/* --------------------------------ESTILOS DE CONTACTO-------------------------------*/

main .contacto-container {
    width: 50%;
    height: 200px;
    background-color: var(--backg-green);
    border: 3px solid var(--secondary-color);
    box-shadow: 5px 5px 10px var(--secondary-color);
    margin: 50px auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
/* dirección */
.contacto-container--text, .contacto-container--tel{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-container--text h2, .contacto-container--tel h2{
    color: var(--secondary-color);
    font-size: 2.2rem;
}
.contacto-container--tel ul li a img {
    width: 20px;
    height: 20px;
}
.contacto-container--tel ul li{
    display: flex;
    justify-self: flex-start;
}

main .contacto-container  p,  .contacto-container--tel ul a {
    color: var(--secondary-color);
    font-size: 1.8rem;
}


/* ubicación */

main .ubicacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
main .ubicacion-container h2 {
    color: var(--secondary-color);
    font-size: 3.8rem;
    letter-spacing: 0.5rem;
    margin-bottom: 20px;
    font-family: "Playpen Sans", cursive;
    font-weight: 600;
}



/* -----------------------------ESTILOS DE SOBRE NOSOTROS --------------------------------*/
/* -----------------------------ESTILOS DE SOBRE NOSOTROS --------------------------------*/

main .sobre-nosotros {
    height: 100%;
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: #5D2510;
    border: 3px solid var(--secondary-color);
    box-shadow: 5px 5px 10px var(--secondary-color);
    background-color: var(--backg-green);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70% 30%;
}
main section div img{
    object-fit: cover;
}
.img-sobre-nosotros {
    display: flex;
}
.sobre-nosotros-top-right img,
.img-sobre-nosotros img{
    width: 100%;
}

main .sobre-nosotros-top-left {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}
main .sobre-nosotros-top-left span{
    font-weight: 500;
    font-size: 1.8rem;
}
main .sobre-nosotros-top-right {
    grid-row: 1 / 2;
    grid-column: 4 / 7;
}
main .img-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
main .img-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
main .img-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
main .img-4 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}
main .img-5 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}
main .img-6 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}


/* ------------------------------ ESTILOS DEL CARRITO ----------------------------------*/
/* ------------------------------ ESTILOS DEL CARRITO ----------------------------------*/


main .carrito {
    width: 90%;
    height: auto;
    margin: 50px auto;

}
main .carrito table{
    width: 100%;
    border-collapse: collapse;
    background-color: var(--backg-green);
}

main .carrito table tr th {
    text-align: left;
    padding: 5px;
    font-size: 2.6rem;
    color: var(--backg-green);
    background-color: var(--primary-color);
}

main .carrito table  .cart-info {
    display: flex;
    flex-wrap: wrap;

}
main .carrito table tr .cart-info img {
    width: 89px;
    height: 80px;
    margin-right: 10px;
    
}
main .carrito table tr .cart-info div h3{
    font-size: 2.2rem;
    color: rgb(30, 27, 27);
}
main .carrito table tr .cart-info div p{
    font-size: 2rem;
}
main .carrito table tr td .cart-info div p{
    font-weight: 600;
    font-size: 2.2rem;
}

main .carrito table tr td {
    padding: 10px;
    font-size: 2.2rem;
    font-weight: 600;
}

main .carrito table tr td:nth-child(3) {
    font-weight: 600;
    color: rgb(30, 27, 27);
}
main .carrito table tr td input {
    width: 40px;
    font-size: 1.5rem;
    height: 30px;
    padding: 5px;
}
main .carrito table tr td a {
    display: inline-block;
    color: #951c1c;
    font-size: 2rem;
    padding-top: 5px;
}

main .carrito .total-price {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 60%;
    justify-content: flex-end;
    border-top: 3px solid var(--primary-color);
}

td:last-child {
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* -------------------- ESTILOS DE LOS BOTONES -------------- --------- */
/* --------------------- ESTILOS DE LOS BOTONES ----------------------- */

.button-class {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    margin: 0 auto;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px outset var(--dark-letter);
}

.button-class:hover {
    transform: scale(1.1);
}
.button-class a {
    font-size: 2.5rem;
    color: whitesmoke;
    padding: 3px;
}
.pay-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pay-button {
    margin-top: 40px;
}

/* ------------shopping cart button // Whatsapp button-------------*/
.fixed-button {
    position: fixed;
    right: 20px;
    bottom: 100px;
}
.fixed-button a img {
    width: 100px;
}
.fixed-cart-button {
    background-color: #69cf69;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 3px 8px 10px var(--dark-letter); 
}

.fixed-wsp-button a img{
    background-color: none;
}


/*-------------- ESTILOS DE TABLET ------------------*/
/*-------------- ESTILOS DE MOBILE ------------------*/
@media screen and (max-width: 1000px){
    main h1 {
        font-size: 3rem;
    }
    /* INDEX */
    .fixed-menu {
        display: flex;

    }
    .header-logo{
        flex-direction: column;
        text-align: center;
    }
    .header-logo-container a img {
        width: 130px;
    }
    .header-logo-container a p{
        font-size: 3rem;
    }
    /* INDEX - Main */
    .section-1-top p{
        font-size: 1.3rem;
    }

    /* botones wsp y productos */
    .section-1-bottom a{
        font-size: 1.5rem;
    }
    .fixed-button a img {
        width: 60px;
    }
    main .categories-container ul li{
        padding: 15px;;
        width: auto;
        height: auto;
    }
    main .categories-container ul {
        display: flex;
        gap: 5px;
        padding: 5px;
    }
    main .categories-container ul li a{
        font-size: 1.4rem;
    }   
}

/*-------------- ESTILOS DE MOBILE ------------------*/
/*-------------- ESTILOS DE MOBILE ------------------*/
@media screen and (max-width: 600px){
    /* INDEX */
    .fixed-menu {
        display: flex;
    }

    .header-logo-container a p{
        display: none;
    }
    /* INDEX - Main */
        
    .section-1-main {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .section-1-bottom a{
        font-size: 1.5rem;
        text-align: center;
    }
    .section-2-main-ul-container ul {
        width: 60%;
        height: 55px;
        justify-content: center;
        margin: 0 auto;
    }
    .section-2-main-ul-container ul li{
        font-size: 1.4rem;
        padding: 3px;
    }

    .card-main{ 
        width: 100%;
        max-width: 200px;
    }

    .button-class {
        font-size: 1.3rem;
    }
    .fixed-button a img {
        width: 50px;
    }
    /* FOOTER */
    .footer {
        padding-bottom: 100px;
    }
    .footer-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .footer-container-isologo {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-container-contacto {
        grid-row: 2;
    }
    .footer-container-redes {
        grid-row: 3;
        justify-content: flex-start;
        padding-bottom: 100px;
    }
    .footer-isologo a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Boton carrito */
    .fixed-button {
        position: fixed;
        right: 5px;
        bottom: 100px;
    }

    /* PRODUCTOS */
    main .categories-container ul li{
        padding: 5px;
        width: auto;
        height: auto;
    }
    main .categories-container ul {
        display: flex;
        gap: 5px;
        padding: 5px;
    }
    main .categories-container ul li a{
        font-size: 1.4rem;
    }   
    main .product-main {
        width: 300px;
        height: auto;
        flex-direction: row;
        align-items: center;
    }
    main .products-container .product-main div img {
        border-radius: 20px 20px 0 0;
        width: 150px;
        height: auto;
    }
    .product-main-texto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main .product-main .heart-button {
        position: absolute;
        margin: 10px;
        top: 100px;
        right: 0;
    }
    main .products-container{
        justify-content: center;
        margin: 0 auto;
        grid-template-rows: 90% 10% ;
        flex-wrap: wrap;
    }
    .page-buttons {
        display: none;
    }

    /* CONTACTO */
    main .contacto-container {
        width: 90%;
        height: auto;
        flex-direction: column;
        margin:  auto;
    }
    /* dirección */
    .contacto-container--text, .contacto-container--tel{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .contacto-container--text h2, .contacto-container--tel h2{
        font-size: 2.2rem;
    }
    
    main .contacto-container  p,  .contacto-container--tel ul a {
        color: var(--secondary-color);
        font-size: 1.8rem;
    }
    main .ubicacion-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    main .ubicacion-container h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 20px;
    }
    .ubicacion-container iframe{
        width: 90%;
        height: 50vh;
    }
    main .sobre-nosotros {
        width: 90%;
        height: auto;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80% 20%;
    }
    main .sobre-nosotros-top-left {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        font-size: 1.4rem;
        margin: 40px 18px;
    }
    main .sobre-nosotros-top-right{
        display: none;
    }
    .img-sobre-nosotros {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
    }
    .img-5, .img-6 {
        display: none;
    }


    /* CARRITO */
    main .carrito {
        margin: 0 auto;
        width: 100%;
    }
    main .carrito .total-price {
        width: 100vh;
    }
    main .carrito table tr {
        margin: 0 auto;
    }
    main .carrito table tr th {
        font-size: 2rem;
    }
    main .carrito table tr td a {
        font-size: 1.4rem;
    }
    main .carrito table tr td {
        font-size: 2rem;
        padding: 0;
    }
    main .carrito table tr .cart-info div h3{
        font-size: 2.2rem;

    }
    main .carrito table tr .cart-info div p{
        font-size: 2rem;
    }
    main .carrito table tr td .cart-info div p{
        font-size: 2.2rem;
    }
    main .carrito table tr td input {
        width: 40px;
        font-size: 1.5rem;
        height: 30px;
        padding: 5px;
    }
    main .carrito table tr td a {
        display: inline-block;
        color: #951c1c;
        font-size: 1.6rem;
        padding-top: 5px;
    }
    
    main .carrito .total-price {
        width: 100%;
        margin: 0;
        justify-content: center;
        border-top: 3px solid var(--primary-color);
    }
}
