/*------------ ESTILOS DE SOBRE NOSOTROS -------------*/
/* ----------- ESTILOS DE SOBRE NOSOTROS -------------*/

main{
    .sobre-nosotros{
        @include size(70%,100%);
        @include grid(1fr,400px 100px);
        background-color: $backg-green;
        box-shadow: 5px 5px 10px $secondary-color;
        border: 5px solid $secondary-color;
        margin: 0 auto;
        text-align: center;

        .sobre-nosotros-top{
            grid-row: 1 / 2;
            display: flex;
            align-items: center;
            border-bottom: none;
            justify-content: center;

            p{
                width: 50%;
                font-size: 1.6rem;
                color: $dark-letter;
                padding: 2px;
                text-align: center;
                span{
                font-weight: 500;
                font-size: 1.8rem;
                }
            }
            img{
                object-fit: cover;
                width: 50%;
                height: 100%;
            }
        }
        .sobre-nosotros-bottom{
            grid-row: 2 / 3;
            display: flex;
            border: 3px dotted $secondary-color;
            justify-content: space-between;
            align-items: center;
            img{
                border-right: 3px dotted $secondary-color;
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                &:nth-child(6){
                    border-right: none;
                } 
            } 
        }
    }
}