%estilos-botones{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    padding: 3px;
    margin: 0 auto;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 4px #4e7748;
    border: 4px solid $primary-color;
    a{
        font-size: 2.5rem;
        font-weight: 500;
        color: $dark-letter;
        padding: 3px;
    }
}

%fixed-buttons{
    position: fixed;
    right: 20px;
    bottom: 100px;
}

