
/*-------------- ESTILOS DE MOBILE ------------------*/
/*-------------- ESTILOS DE MOBILE ------------------*/
@media screen and (max-width: 768px){
    /* ---------INDEX ----------*/
    .fixed-menu {
        display: flex;
    }
    .header-logo-container a{
        justify-content: center;
    }
    header .header-logo-container a img {
        width: 100px;
    }
    .header-logo-container a p{
        display: none;
    }
    /*  Main */
    .section-1-top {
        @include flex(center,center,row);
        position: relative;
    }
    .main-container-index .section-1-main .section-1-top img {
        width: 100%;
        height: 100%;

    
    }
    .main-container-index .section-1-main .section-1-top p{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        padding: 10px;
        color: #1b1614;
        background-color: rgb(145 118 118 / 50%);
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);

    }
    .main-container-index .section-1-main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70% repeat(2,15% 15%);

    }

    .main-container-index .section-1-main .section-1-bottom{
        grid-row: 2 / 4;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;

    }
    .main-container-index .section-1-main .section-1-bottom .section-1-bottom-left,
    .main-container-index .section-1-main .section-1-bottom .section-1-bottom-right{
        width: 100%;
        height: 100%;
    }
    .main-container-index .section-1-main .section-1-bottom .section-1-bottom-right a,
    .main-container-index .section-1-main .section-1-bottom .section-1-bottom-left a{
        font-size: 1.5rem;

    }
    
    .main-container-index .section-2-main .section-2-main-ul-container ul {
        gap: 2px;
    }
    .main-container-index .section-2-main .section-2-main-ul-container ul li {
        font-size: 1.4rem;
        padding:5px;
    }



    .card-main{ 
        width: 100%;
        max-width: 200px;
    }


    /* VER-MAS BUTTON */
    .main-container-index .section-2-main .section-2-main-cards-container .ver-mas-button a{
        font-size: 1.8rem
    }

    /* FOOTER */

    footer{
        @include grid(1fr, repeat(3,1fr));
        height: 60vh;
    }

    footer .footer-container-isologo {
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        border-right: none;
        border-bottom: 3px solid $light-letter-color;
    }
    footer .footer-container-isologo a{
        font-size: 4rem;
        font-weight: 500;
        justify-content: center;
        border-top: 3px solid $light-letter-color;
        width: 100%;
    }
    footer .footer-container-isologo a img{
        width: 20%;
    }
    .footer-container-contacto {
        grid-row: 1;
    }
    footer .footer-container-contacto ,
    footer .footer-container-redes {
        padding-top: 0;
        justify-content: center;
    }
    footer .footer-container-contacto p,
    footer .footer-container-redes p{
        font-size: 1.4rem;
    }
    .footer-container-redes {
        grid-row: 2;
        justify-content: flex-start;

    }

    /* Botón carrito */
    .fixed-button {
        position: fixed;
        right: 5px;
        bottom: 100px;
    }

    /* PRODUCTOS */
    main .categories-container ul li{
        padding: 5px;
        width: auto;
        height: auto;
    }
    main .categories-container ul {
        display: flex;
        gap: 5px;
        padding: 5px;
    }
    main .categories-container ul li a{
        font-size: 1.4rem;
    }   
    main .product-main {
        width: 300px;
        height: auto;
        flex-direction: row;
        align-items: center;
    }
    main .products-container .product-main div img {
        border-radius: 20px 20px 0 0;
        width: 150px;
        height: auto;
    }
    .product-main-texto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main .product-main .heart-button {
        position: absolute;
        margin: 10px;
        top: 100px;
        right: 0;
    }
    main .products-container{
        justify-content: center;
        margin: 0 auto;
        grid-template-rows: 90% 10% ;
        flex-wrap: wrap;
    }
    .page-buttons {
        display: none;
    }

    /* CONTACTO */
    main .contacto-container {
        width: 90%;
        height: auto;
        flex-direction: column;
        margin:  auto;
    }
    /* dirección */
    .contacto-container--text, .contacto-container--tel{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .contacto-container--text h2, .contacto-container--tel h2{
        font-size: 2.2rem;
    }
    
    main .contacto-container  p,  .contacto-container--tel ul a {
        color: var(--secondary-color);
        font-size: 1.8rem;
    }
    main .ubicacion-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    main .ubicacion-container h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 20px;
    }
    .ubicacion-container iframe{
        width: 90%;
        height: 50vh;
    }
    main .sobre-nosotros {
        width: 90%;
        height: auto;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80% 20%;
    }
    main .sobre-nosotros-top-left {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        font-size: 1.4rem;
        margin: 40px 18px;
    }
    main .sobre-nosotros-top-right{
        display: none;
    }
    .img-sobre-nosotros {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
    }
    .img-5, .img-6 {
        display: none;
    }


    /* CARRITO */
    main .carrito {
        margin: 0 auto;
        width: 100%;
    }
    main .carrito .total-price {
        width: 100vh;
    }
    main .carrito table tr {
        margin: 0 auto;
    }
    main .carrito table tr th {
        font-size: 2rem;
    }
    main .carrito table tr td a {
        font-size: 1.4rem;
    }
    main .carrito table tr td {
        font-size: 2rem;
        padding: 0;
    }
    main .carrito table tr .cart-info div h3{
        font-size: 2.2rem;

    }
    main .carrito table tr .cart-info div p{
        font-size: 2rem;
    }
    main .carrito table tr td .cart-info div p{
        font-size: 2.2rem;
    }
    main .carrito table tr td input {
        width: 40px;
        font-size: 1.5rem;
        height: 30px;
        padding: 5px;
    }
    main .carrito table tr td a {
        display: inline-block;
        color: #951c1c;
        font-size: 1.6rem;
        padding-top: 5px;
    }
    
    main .carrito .total-price {
        width: 100%;
        margin: 0;
        justify-content: center;
        border-top: 3px solid $primary-color;
    }
}
