/*------------ ESTILOS DEL HEADER -------------*/
header {
    .header-logo-container {
        @include grid (30% 70%, 1fr);
        background-color: $primary-color;
        .logo-header {
            @include flex(flex-start,center,row);
            font-family: "Playpen Sans", cursive;
            font-weight: 600;
            width: 100%;
            .logo_vDesktop { 
                width: 70%;
            }
            .logo_vMobile{
                display: none;
            }
            p {
                @include font(#fff2eb,5rem,500);
            }
        }
        .nav-buttons {
            @include flex(flex-end,flex-start,row);
            gap: 20px;
            margin-top:20px;
            padding-right: 20px;
            .cart-button{
                @include flex(center,center,column);
                gap: 5px;
                .svg-carrito{
                    @include flex(center,center,row);
                    @include size(40px,40px);
                    text-align: center;
                    background-color: #cdcdcd;
                    border-radius: 50%;
                    &:hover{
                        background-color: #39ae41;
                        border: 2px solid #d7d9d8;
                    }
                    &:hover svg g {
                        stroke: #d7d9d8;
                    }
                }
                p{
                    @include font(#EDE1D2,1.3rem,400);
                    &:hover{
                        border-bottom: 1px solid #d7d9d8;
                    }
                }
            }
            .account-button{
                @include flex(center,center,column);
                gap: 5px;
                text-align: center;
                .svg-account{
                    @include flex(center,center,row);
                    @include size(40px,40px);
                    text-align: center;
                    background-color: #cdcdcd;
                    border-radius: 50%;
                    &:hover{
/*                         border: 3px solid #39ae41; */
                        background-color: #39ae41;
                        border: 2px solid #d7d9d8;
                    }
                    &:hover svg g {
                        stroke: #d7d9d8;
                    }
                }
                ul{
                    li{
                        a{
                            @include font(#EDE1D2,1.3rem,400);
                            &:hover{
                                border-bottom: 1px solid #d7d9d8;
                            }
                        }
                    }
                }
            }
        }
    }


    /* Bootstrap */
    .color-nav {
        background-color: $primary-color;
        div{
            button{
                border: 2px solid $backg-white;
            }
            form{
                .width-input{
                    @include size(40vw,30px);
                    font-size: 1.6rem;
                }
                :focus{
                    outline: none;
                    box-shadow: none;   
                }
            }


            div{
                .modifier-list{
                    li{
                        margin-right: 16px;
                        .color-nav-text {
                            @include font($backg-white,1.8rem,400);
                            &:hover {
                                background-color: $secondary-color;
                                border-radius: 5px;
                                color: whitesmoke;
                                transform: scaley(1.1);
                                transition: 0.5s;
                            }
                            &:active,
                            &:focus {
                                color: whitesmoke !important;
                            }
                        }
                        ul{
                            .modify-letra{
                                @include font($dark-letter,1.6rem,400);
                            }
                            :hover{
                                background-color: $secondary-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}