/*------------ ESTILOS DEL HEADER -------------*/
header {
    .header-logo-container {
        @include grid (30% 70%, 1fr);
        background-color: $primary-color;
        .logo-header {
            @include flex(flex-start,center,row);
            font-family: "Playpen Sans", cursive;
            font-weight: 600;
            width: 100%;
/*             background: -webkit-linear-gradient(90deg, #4e7748 10%, #c7965c 90%);
 */            .logo_vDesktop { 
                width: 100%;
            }
            .logo_vMobile{
                display: none;
            }
            p {
                @include font(#fff2eb,5rem,500);
            }
        }
        .nav-buttons {
            @include flex(flex-end,flex-start,row);
            gap: 15px;
            margin-top:20px;
            padding-right: 20px;
            .cart-button{
                @include flex(center,center,column);
                a{
                    @include flex(center,center,column);
                    text-align: center;
                    gap:5px;
                    img{
                        @include size(60px,60px);
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                    p{
                        font-size: 1.4rem;
                        font-weight: 400;
                    }
                }
                a{
                    @include font(whitesmoke,1.4rem,400);
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                }
            }
            .account-button{
                @include flex(center,center,column);
                gap: 5px;
                a{
                    @include font(whitesmoke,1.4rem,400);
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                    img{
                        @include size(60px,60px);
                    }
                    &:hover{
                        transform: scale(1.1);
                    }
                    ul{
                        li{
                            a{}
                        }
                    }
                }
            }
        }
    }


    /* Bootstrap */
    .color-nav {
        background-color: $primary-color;
        div{
            button{
                border: 2px solid $backg-white;
            }
            form{
                .width-input{
                    @include size(40vw,30px);
                    font-size: 1.6rem;
                }
                :focus{
                    outline: none;
                    box-shadow: none;   
                }
            }


            div{
                .modifier-list{
                    li{
                        margin-right: 16px;
                        .color-nav-text {
                            @include font($backg-white,1.8rem,400);
                            &:hover {
                                background-color: $secondary-color;
                                border-radius: 5px;
                                color: whitesmoke;
                                transform: scaley(1.1);
                                transition: 0.5s;
                            }
                            &:active,
                            &:focus {
                                color: whitesmoke !important;
                            }
                        }
                        ul{
                            .modify-letra{
                                @include font($dark-letter,1.6rem,400);
                            }
                            :hover{
                                background-color: $secondary-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}