@import "../utilities/variables";

header {
    .header-logo-container{
        display: grid;
        grid-template-columns: 40% 60%;
        background-color: #4e7748;
        a{
            display: flex;
            align-items: center;
            font-family: "Playpen Sans", cursive;
            font-weight: 600;
            background: -webkit-linear-gradient(90deg,  #4e7748 10%, #c7965c 90%);
            img{
                width: 150px;
            }
            p{
                font-size: 5rem;
                color: #fff2eb;
            }
        }
        .nav-buttons{
            background: transparent;
            display: flex;
            justify-content: flex-end;
            background-color: var(--primary-color);
            align-items: center;
            padding-right: 20px;
            .cart-button{
                width: 60px;
                height: 60px;
                margin-left: 20px; 
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                :hover{
                    transform: scale(1.2);
                }
                a{}
                span{background-image: url("../img/icono/shopping-cart-white_red.png");}
            }
            .account-button{
                width: 60px;
                height: 60px;
                margin-left: 20px; 
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                :hover{
                    transform: scale(1.2);
                }
                a{
                }
                span{
                    background-image: url("../img/icono/account-manager_red.png");
                }
            }
        }
        /* nav de bootstrap */
        nav{
            div{
                button{}
            }
            div{
                .modifier-list{
                    li{
                        a{}
                    }
                    .color-nav-text{
                        a{}
                        ul{
                            .modify-letra{

                            }
                        }
                    }
                    li{}
                    li{}
                }
                .form-modify{
                    .width-input{
                        width: 30vw;
                    }
                }
                }
            }
            
    }
}
